.login-section {
    position: relative;
    background-image: url(/images/loginPhoto.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    
}

.login-section::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 1;
}

.login-content {
    position: relative;
    z-index: 2;
}

.links {
    z-index: 2;
}