.login-section {
    position: relative;
    background-image: url(/images/loginPhoto.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}